.table__delete {
    background-image: url(./GroupDelete.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    min-width: 22px;
    min-height: 22px;
    margin: 0;
    position: absolute;
    right: 0px;
    top: -270px;
}

.table__delete:hover {
    opacity: 50%;
    cursor: pointer;
    
}