.popup__input {
    border: none;
    opacity: 20%;
    width: 358px;
    max-height: 27px;
    padding: 0;
    opacity: 100%;
}

.popup__input::-webkit-input-placeholder {
    color:#000;
    line-height: 27px;
}

.popup__input::-moz-placeholder {
    color: #000;
    line-height: 27px;
}

.popup__input::-o-placeholder {
    color: #000;
    line-height: 27px;
}


@media screen and (max-width: 880px) {
    .popup__input {
        width: 238px;
        max-height: 14px;

    }
    .popup__input::-webkit-input-placeholder {
        color:#000;
        line-height: 14px;
        font-size: 14px;
    }
    
    .popup__input::-moz-placeholder {
        color: #000;
        line-height: 14px;
        font-size: 14px;
    }
    
    .popup__input::-o-placeholder {
        color: #000;
        line-height: 14px;
        font-size: 14px;
    }
    
}

