.popup__container {
    border: none;
    
    background-color: #fff;
    border-radius: 10px;
    max-width: 430px;
    
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
    
}

@media screen and (max-width: 880px) {
    .popup__container {
        
        
        max-height: 322px;
        min-width: 282px;
        
    }
}

