.popup__line {
    border-bottom: 1px #000 solid;
    margin: 13px auto 0;
    max-width: 358px;
    opacity: 20%;
    max-height: 0;
}

@media screen and (max-width: 880px) {
    .popup__line {
        max-width: 238px;
    }
}