.header {
    max-width: 880px;
    border-bottom: 1px #545454 solid;
    padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
    .header {
        max-height: 56px;
        max-width: 100%;
    }
}