.header {
    max-width: 880px;
    border-bottom: 1px rgba(84, 84, 84, 70%) solid;
    padding-top: 45px;
    padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
    .header {
        
        max-width: 100%;
        padding-top: 28px;
        padding-bottom: 31.5px;
    }
}