.footer__copyright {
    color: #545454;
    line-height: 18px;
    font-size: 18px;
    font-weight: 400;
    margin: 67px auto 0;
    padding-bottom: 60px;
}

@media screen and (max-width: 880px) {
    .footer__copyright {
        margin: 48px auto 0;
        padding-bottom: 36px;
        line-height: 14px;
        font-size: 14px;
    }
}