.table__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
    margin: 0;
    padding: 0;
}

.table__image:hover {
    cursor: pointer;
}