.popup__title {
    margin: 34px 64px 0 36px;
    width: 330px;
    line-height: 23px;
    font-size: 23px;
    font-weight: 900;
}

@media screen and (max-width: 880px) {
    .popup__title {
        width: 238px;
        line-height: 22px;
        font-size: 18px;
        margin: 25px auto 0;
    }
}