.table__title {
    
    line-height: 23px;
    font-size: 24px;
    font-weight: 900;
    max-width: 170px;
    
    
    align-self: flex-end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}