.popup__field {
    border-bottom: 1px #000 solid;
    width: 358px;
    margin: 54px 36px 0;
}

.popup__field:last-of-type{
    margin: 30px 36px 0;
}

@media screen and (max-width: 880px) {
    .popup__field {
        width: 238px;
        margin: 0 auto;
    }

    
}